<pokedex-loading *ngIf="isLoading" [@FadeTrigger]="Animate"></pokedex-loading>
<div class="pokecontainer">
    <pokedex-generationsmenu
        *ngIf="!isLoading"
        [@FadeTrigger]="Animate"
        [pokemonGenerationMenuItems]="pokemonGenerationMenuItems"
        (loadPokemonGeneration)="loadPokemonGeneration($event)"
        class="generationsMenu"
    >
    </pokedex-generationsmenu>
    <section class="container pageBackground">
        <ng-container #content></ng-container>
    </section>    
</div>

