/*
Descrição: Grid System Helper

Mixin: container
Variáveis: level, columns, rows
Propriedades: display, grid-template-columns, grid-template-rows

Mixin: content
Variables: layer, posX, posY, sizeX, sizeY
Properties: z-index, grid-column: posX / sizeX grid-row: posY / sizeY
*/
@import "../../assets/mixins/grid.scss";

.pokecontainer {
    height: 100vh;
    background: #f8f8f8;
}

pokedex-sidemenu {
    position: absolute;
    z-index: 2;
    top: 0;
    height: 130px;
    width: 100%;
}