<div
    class="pokemap"
    *ngIf="selectedPokemonGeneration"
    [ngStyle]="{backgroundImage:getPokeMapBackground(selectedPokemonGeneration.main_region.name ? selectedPokemonGeneration.main_region.name : '')}"
    [@FadeTrigger]="Animate"
>
    <div class="widget pokemap__generationinfo">
        <div class="widget__title">
            Generation Info
        </div>
        <div class="widget__content">
            <div class="pokemap__generationinfo__title">
                <strong>Name: </strong>
                {{pokemonGenerationInfo.enName}}
            </div>
            <div class="pokemap__generationinfo__region">
                <strong>Main Region: </strong>
                {{pokemonGenerationInfo.mainRegionName}}
            </div>
            <div class="pokemap__generationinfo__pokemonsAmount">
                <strong>New Pokémons: </strong>
                {{pokemonGenerationInfo.pokemonsAmount}}
            </div>            
        </div>
    </div>
    <div class="pokemap__bottom__wrapper">
        <div class="widget pokemap__versionlist">
            <div class="widget__title">
                Games Released
            </div>
            <div class="widget__content">
                <div class="versionlist__version" *ngFor="let gameVersion of pokemonVersionList; index as i;">
                    <p>{{gameVersion.name}}</p>
                </div>            
            </div>            
        </div>    
        <div class="widget pokemap__pokelist">
            <div class="widget__title">
                Pokémon List
            </div>
            <div class="widget__content">
                <div class="pokelist__species" *ngFor="let pokemonSpecies of pokemonSpeciesList; index as i;">
                    <p>{{pokemonSpecies.name}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div
    class="pokemap"
    *ngIf="!selectedPokemonGeneration"
>
    <div class="pokemap__select__title">
        <img
            alt="Select a Generation Hand" class="select__title__hand"
            src="../../../assets/images/select-generation-screen/pointing-hand.gif"
        />
        <img
            alt="Select a Generation Text" class="select__title__text"
            src="../../../assets/images/select-generation-screen/select-generation-text.png"
        />
    </div>
</div>
    
